.skf-display {
    display: flex;
    flex-direction: column;
}
.skf-canvas-container {
    position: relative;
}
.skf-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #352253;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3rem;
}
.skf-toolbar-container {
    display: flex;
}
.skf-title {
    color: #fff;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.skf-logo {
    width: 3rem;
    margin-right: 0.5rem;
}

.skf-title-text {
    font-size: 1.2rem;
    font-family: arial;
    margin: 0;
    text-decoration: none;
}

.skf-play {
    background: #412e69;
    border: 2px solid rgb(89, 70, 136);
    padding: 0.25rem;
    color: white;
    cursor: pointer;
}

.skf-select {
    background: #412e69;
    border: 2px solid rgb(89, 70, 136);
    padding: 0.25rem;
    color: white;
    cursor: pointer;
    margin-right: 0.5rem;
}

.skf-range {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    bottom: 0.75rem;
    left: 0;
    width: -moz-available;
    width: -webkit-fill-available;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 0.35rem;
    background: #412e69;
}

.skf-range[type="range"]::-webkit-slider-thumb,
.skf-range::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: rgb(89, 70, 136);
    cursor: pointer;
}

.skf-range[type="range"]::-webkit-slider-runnable-track,
.skf-range::-moz-range-progress {
    -webkit-appearance: none;
    appearance: none;
    height: 0.35rem;
    background-color: rgb(89, 70, 136);
}
